{% extends 'base.html' %}

{% block content %}
<div id="status" class="status">
  <!-- Placeholder-->
</div>
<div id="modal" class="modal">
  <!-- Placeholder-->
</div>
<div id="admin-box">
  <div id="admin-graphs-container">
    <div class="header">
      <h2>Measurements</h2>
    </div>
    <div>
        {% for graph in graphs %}
        <img src='data:image/png;base64,{{ graph }}'/>
        {% endfor %}
    </div>
  </div>
</div>
<div id="disclaimer">
  <span>Content based on <a href="https://github.com/divisora">github.com/divisora</a> used under the <a href="https://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a> license</span>
</div>
{% endblock %}