.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal > .modal-content {
    color: #cedfd9;
    /* background-color: #24323d; */
    background-color: rgba(0, 0, 0, 0.87);
    box-shadow: 2px 2px 7px rgb(0 0 0 / 60%);
    width: 35em;
    /* height: 35em; */
    display: flex;
    flex-direction: column;
    border: 1px solid #717f88;
    border-radius: 3px;
}

.modal > .modal-content .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.3em;
    flex: 0 1 auto;
    border-bottom: 1px solid white;
}
.modal > .modal-content .modal-header,
.modal > .modal-content .modal-body,
.modal > .modal-content .modal-footer {
    padding: 10px;
}

.modal > .modal-content .modal-header > span:nth-child(2) {
    color: #a5a5a5;
    font-size: 20px;
}

.modal > .modal-content .modal-header > span:nth-child(2):hover {
    color: inherit;
    cursor: pointer;
}

.modal > .modal-content .modal-body { 
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;    
    padding: 30px 10px;
}

.modal > .modal-content .modal-footer {
    font-size: 0.8em;
    align-self: center;
    flex: 0 1 0.8em;
}

.modal > .modal-content .modal-body > .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.modal > .modal-content .modal-body > .box > label {
    padding-right: 20px;
    width: 30%;
}

.modal > .modal-content .modal-body > .box > .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #a5a5a5;
    height: 35px;
    width: 35px;    
}

.modal > .modal-content .modal-body > .box > input,
.modal > .modal-content .modal-body > .box > select {
    padding: 10px;
    height: 35px;
    width: 250px;
    border: none;
    outline: none;    
}

.modal > .modal-content .modal-body > .box > input:disabled {
    color: #ffffff;
}

.modal > .modal-content .modal-footer.update {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px;
    font-size: 1em;
}

.modal > .modal-content .modal-footer > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 50%;
    height: 50px;
}

.modal > .modal-content .modal-footer > button {
    color: #ffffff;
    cursor: pointer;
    border: 0px;
}

.modal > .modal-content .modal-footer > button.reset {
    background-color: #4c4c4c;
}

.modal > .modal-content .modal-footer > button.submit {  
    background-color: #0a6b31;
}