{% extends 'base.html' %}

{% block content %}
<div id="error-container">
  <div>
    <h3>Something unexpected happened</h3>
    <div>
      <span>"Ahhh! Woooh! What's happening? Who am I? Why am I here? What's my purpose in life? What do I mean by who am I?</span>
      <span>Okay okay, calm down calm down get a grip now. Ooh, this is an interesting sensation. What is it? Its a sort of tingling in my..."</span>
    </div>
    <span>The Hitchhiker's Guide to the Galaxy - Douglas Adams</span>
  </div>
</div>
{% endblock %}

